<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <form class="container jumbotron" action="#" th:action="@{/peek-hour}" method="post">
            <h2>NY Taxi data analysis</h2>

            <p>Input: New York Taxi Data 2009-2016 in Parquet Format (1.5 mld trips)</p>

            <div>
                <p>Output:</p>
                <ul>
                    <li>A json file containing the peak hour for the taxi trips.</li>
                    <li>All the taxi trips during the peak hour in parquet format.</li>
                </ul>

                <p>Result directory name: result-yyyy-MM-dd-HH-mm</p>
            </div>

            <p>
                <input class="btn btn-primary btn-lg" type="submit" value="Start analysis"/>
            </p>
        </form>

        <form class="container jumbotron" action="#" th:action="@{/peek-hour-per-zone}" method="post">
            <h2>NY Taxi data analysis</h2>

            <p>Input: New York Taxi Data 2009-2016 in Parquet Format (1.5 mld trips)</p>

            <div>
                <p>Output:</p>
                <p>Peek hour for the taxi trips and corresponding zone during 2009-2016:</p>
            </div>

            <p>
                <input class="btn btn-primary btn-lg" type="submit" value="Start analysis"/>
            </p>
        </form>
    </body>
</html>
